common --enable_platform_specific_config
common --cxxopt=-std=c++2b --host_cxxopt=-std=c++2b
common --cxxopt=-fno-exceptions --host_cxxopt=-fno-exceptions
common --cxxopt=-fno-rtti --host_cxxopt=-fno-rtti --cxxopt=-DGTEST_HAS_RTTI=0 --host_cxxopt=-DGTEST_HAS_RTTI=0

common:macos --cxxopt=-fconstexpr-steps=40000000
coverage --cxxopt=-fno-inline
coverage --features=-coverage --copt=-coverage --linkopt=-coverage --test_env=GCOV_PREFIX_STRIP=12

build:asan --strip=never
build:asan --@llvm//config:asan=true
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
common:asan --test_env=ASAN_OPTIONS=debug=true:print_full_thread_history=true

import %workspace%/rules_fuzzer.bazelrc

