common --enable_platform_specific_config
common --action_env=BAZEL_CXXOPTS="-std=c++2b" --cxxopt=-std=c++2b

common:macos --cxxopt=-fconstexpr-steps=40000000
coverage --cxxopt=-fno-inline --cxxopt=-fno-exceptions
coverage --combined_report=lcov --experimental_generate_llvm_lcov=false --features=-coverage --copt=-coverage --linkopt=-coverage --test_env=GCOV_PREFIX_STRIP=10 --test_env=COVERAGE_GCOV_PATH=/usr/local/opt/llvm/bin/llvm-cov

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
common:asan --test_env=ASAN_OPTIONS=debug=true:print_full_thread_history=true

import %workspace%/rules_fuzzer.bazelrc

